---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import logo from '../../public/images/logo.png';
---

<Layout title='FRTGear.com - Tu distribuidor de paintball favorito'>
  <section class='relative background h-screen w-screen overflow-y-hidden'>
    <!-- Fondo con imagen -->
    <div
      class='absolute inset-0 bg-cover bg-center bg-fixed filter blur-[5px] z-[-10]'
      style='background-image: url("/images/bg.jpg")'
    >
    </div>

    <div class='absolute h-screen w-screen border-4 border-[#FF4D00] -z-10'>
    </div>

    <!-- Contenido encima del fondo -->
    <div class='relative z-10 h-screen'>
      <!-- Logo -->
      <div class='pt-4 left-10'>
        <Image src={logo} alt='Logo frtgear.com' />
      </div>

      <!-- Barras blancas -->
      <div class='absolute top-0 bg-white w-[500px] h-[40px] -z-10'></div>
      <div class='absolute top-12 bg-white w-[450px] h-[40px] -z-10'></div>
      <div class='absolute top-24 bg-white w-[400px] h-[40px] -z-10'></div>

      <!-- Tarjeta de contacto -->
      <section class='mt-[100px] md:w-[40%] ml-auto'>
        <div class='card-contact'>
          <div
            class='font-Aero text-white bg-[#FF4D00] text-3xl pr-[150px] p-2'
          >
            Contacto
          </div>
          <div
            class='bg-[#0000001e] h-28 text-white text-2xl flex justify-center items-center'
          >
            <div class='animate-pulse mr-5'>
              <svg xmlns='http://www.w3.org/2000/svg' width='40' height='36'>
                <path
                  d='M20.097 10H0v15.933h20.097V36L40 18.037 20.097 0v10z'
                  fill='#FF4D00'></path>
              </svg>
            </div>
            <a href='mailto:sales@frtgear.com'>sales@frtgear.com</a>
          </div>
        </div>

        <div class='card-balls'>
          <div class='font-Aero text-white bg-[#FF4D00] w-full text-3xl p-2'>
            Distribuidor oficial
          </div>
          <div
            class='bg-[#0000001e] h-28 text-white text-2xl flex justify-center items-center'
          >
            <svg
              xmlns='http://www.w3.org/2000/svg'
              width='79'
              height='60'
              viewBox='0 0 79 60'
              ><path
                d='M10.88,15.14H1.42v20.1H5.73V28.09h5.15c4.37,0,6.8-3,6.8-6.47S15.28,15.14,10.88,15.14Zm-.57,9.19H5.73V18.9h4.58a2.73,2.73,0,1,1,0,5.43Z'
                fill='#fff'></path><path
                d='M36.63,21.62c0-3.74-2.58-6.48-6.8-6.48H20.36v20.1h4.31V28.09h3.16l4,7.15h5L32.2,27.58A5.77,5.77,0,0,0,36.63,21.62Zm-7.44,2.71H24.67V18.9h4.52a2.73,2.73,0,1,1,0,5.43Z'
                fill='#fff'></path><path
                d='M5.09,44.92c0-1.21,1-2,2.88-2a8.74,8.74,0,0,1,5.89,2.2L16.26,42a11.41,11.41,0,0,0-7.89-2.8C3.6,39.16.69,41.93.69,45.28c0,7.56,11.65,5.12,11.65,8.67,0,1.15-1.15,2.24-3.52,2.24a8.87,8.87,0,0,1-6.43-2.72L.05,56.73a11.57,11.57,0,0,0,8.56,3.19c5.46,0,8.1-2.77,8.1-6.45C16.71,46,5.09,48.11,5.09,44.92Z'
                fill='#fff'></path><polygon
                points='33.5 47.36 23.94 47.36 23.94 39.46 19.63 39.46 19.63 59.56 23.94 59.56 23.94 51.12 33.5 51.12 33.5 59.56 37.84 59.56 37.84 39.46 33.5 39.46 33.5 47.36'
                fill='#fff'></polygon><path
                d='M47.5,39.46l-7.83,20.1h4.92l1.27-3.4h8.68l1.25,3.4H60.7l-7.8-20.1Zm-.45,12.93,3.15-8.65,3.16,8.65Z'
                fill='#fff'></path><path
                d='M74.43,51.9a5.78,5.78,0,0,0,4.43-6c0-3.74-2.58-6.48-6.8-6.48H62.6v20.1h4.3v-7.1h3.16l4,7.14H79Zm-3-3.25H66.9V43.23h4.53a2.73,2.73,0,0,1,.66,5.42A2.43,2.43,0,0,1,71.43,48.65Z'
                fill='#fff'></path><path
                d='M57.42,36.25A18.09,18.09,0,1,0,39.2,18.16,18.09,18.09,0,0,0,57.42,36.25Zm0-31.06a13,13,0,1,1-.06,0Z'
                fill='#fff'></path><path
                d='M25.25,1.15A18.3,18.3,0,0,0,1.88,12.05H7.52A13.07,13.07,0,0,1,19,5.19a13.36,13.36,0,0,1,2,.15A21.1,21.1,0,0,1,25.25,1.15Z'
                fill='#fff'></path><path
                d='M44.37,1.16A18.48,18.48,0,0,0,38.12.07,18.22,18.22,0,0,0,21,12.05h5.64A13.07,13.07,0,0,1,38.12,5.19a13.36,13.36,0,0,1,2,.15A21.86,21.86,0,0,1,44.37,1.16Z'
                fill='#fff'></path></svg
            >
          </div>
        </div>
      </section>

      <!-- Marquesina -->
      <div class='absolute bottom-0 bg-white w-full'>
        <div class='marquee-container'>
          <div class='marquee-content'>
            <span class='text font-Aero text-7xl uppercase'>
              - Web en construccion -
            </span>
            <span class='text font-Aero text-7xl uppercase'>
              - Site em desenvolvimento -
            </span>
            <span class='text font-Aero text-7xl uppercase'>
              - Web en construccion -
            </span>
            <span class='text font-Aero text-7xl uppercase'>
              - Site em desenvolvimento -
            </span>
            <span class='text font-Aero text-7xl uppercase'>
              - Web en construccion -
            </span>
            <span class='text font-Aero text-7xl uppercase'>
              - Site em desenvolvimento -
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <style>
    .background {
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
    }

    .blur {
      filter: blur(5px);
    }

    .marquee-container {
      width: 100%;
      overflow: hidden;
    }

    .marquee-content {
      display: flex;
      animation: marquee 10s linear infinite;
    }

    .text {
      white-space: nowrap;
    }

    @keyframes marquee {
      0% {
        transform: translateX(0%);
      }
      100% {
        transform: translateX(-100%);
      }
    }
  </style>
</Layout>
